@font-face {
  font-family: 'ChunkyFive';
  src:font-url('chunk.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenBaskerville';
  src:font-url('open_baskerville.ttf');
  font-weight: normal;
  font-style: normal;
}