.new-article= link_to "Créer un nouvel article", new_admin_article_path
- @articles.each do |article|
  .article
    .pull-left= link_to article.title, edit_admin_article_path(article)
    .pull-left= button_to "X", admin_article_path(article), method: "delete", class: "btn btn-danger", confirm: "T'es sûr ?"
    .clearfix