%h2 Qui suis-je ?
.article-show
  .picture
  .section
    %p Je m'appelle Damien, 28 ans et je pense me définir comme une sorte de geek pluri-disciplinaire (même si le terme "geek" a tendance à me faire grincer des dents). Je pense être quelqu'un de créatif mais frustré par une fâcheuse tendance à ne jamais rien terminer. Cela s'est illustré dans mes études comme dans mes loisirs, ce qui me pousse désormais à aller au bout des choses.

  .section
    %p C'est ce qui m'a amené à créer ce blog. Mettre à profit des connaissances accumulées avec l'expérience et ces 5 années d'études en informatique est non seulement très gratifiant, mais me pousse à croire que je ne suis pas un éternel procrastinateur du dimanche. Au moment où j'écris ces lignes, j'espère également que ce projet me donnera davantage confiance dans l'écriture de mon mémoire qui devrait conclure une autre partie importante de ma vie : l'école.

  .section
    %p Ce blog sera un espace d'expression personnel qui me permettra de partager mes impressions sur des domaines qui me tiennent particulièrement à coeur.

    %br
    
    %h3 Pourquoi la musique ?
    %p Les premières notes du concert de Jimi Hendrix à Woodstock ont marqué un tournant dans mon approche de la musique et ont largement motivé mon apprentissage de la guitare. Depuis je n'ai cessé de découvrir de nouvelles choses et j'en découvre toujours aujourd'hui. Je profiterai de ce blog pour partager mes découvertes du moment.

    %br

    %h3 Pourquoi les jeux-vidéo ?
    %p Aussi loin que je me souvienne, les jeux-vidéo ont toujours fait partie de ma vie. J'ai passé une bonne partie de mon enfance et de mon adolescence à canaliser mon imaginaire dans ce medium qui ne cessera jamais de me surprendre et de m'émerveiller.

    %br

    %h3 Et sinon ?
    %p Le blog évoluera selon mes envies du moment et pourrait bien s'étendre à d'autres de mes centres d'intérêt tels que le cinéma, la bande dessinée, les manga...Je consacrerai également quelques articles à mon activité professionnelle, à savoir le développement (principalement autour de Ruby on Rails)

    %br

    %p J'espère que vous prendrez autant de plaisir à lire ce blog que j'en prendrai en l'écrivant :).