.category-filters
  - @categories.each do |category|
    .category.pull-left= image_tag("icons/#{ category.identifier }-icon.png")
.clearfix

= render partial: "articles/list", locals: { articles: @articles }